    <%= form_for :criteria, Routes.csv_path(TheRushWeb.Endpoint, :create), fn f -> %>
      <%= hidden_input f, :sort_by, value: @sort_by %>
      <%= hidden_input f, :sort_order, value: @sort_order %>
      <%= hidden_input f, :filter_by_name, value: @filter_by_name %>
      <%= submit "Download CSV", class: "rounded-md bg-blue-600 text-white py-3 px-3 justify-self-end" %>
  <% end %>
