  <form phx-change="filter_by_name">
    <input name="query" type="text" class="rounded-md border border-gray-300 py-3 px-5 focus:outline-none focus:ring-3 focus:border-purple-400" placeholder="Type to filter by name..." value="<%= @query %>">
  </form>
